<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.maxwe.tao.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.RegisterActivity"></activity>
        <activity android:name=".activity.LostActivity"></activity>
        <activity android:name=".activity.VersionActivity" android:theme="@style/AppTheme_activity_dialog"></activity>
        <activity android:name=".activity.ModifyActivity"></activity>
        <activity android:name=".main.MainActivity"></activity>
        <activity android:name=".main.AccessActivity" android:theme="@style/AppTheme_activity_dialog"></activity>
        <activity android:name=".mine.LinkActivity"></activity>

        <receiver android:name=".main.TaoReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>