<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.maxwe.tao.android">


    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="test"
        android:targetPackage="org.maxwe.tao.android" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".TaoApplication">
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>