<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.maxwe.tao.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".TaoApplication"
        android:allowBackup="true"
        android:supportsRtl="true">
        <uses-library android:name="android.test.runner"/>
    </application>
    <instrumentation android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="org.maxwe.tao.android" android:label="Tao"/>

</manifest>